@using Middletier;
@model UI.Models.StartPaginaModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logged in with: @Model.LoggedInUser.SirName "@Model.LoggedInUser.Username" @Model.LoggedInUser.Lastname</h2>
<hr />
<br />
<text >Welcome to the FindYourGame. <br />
    <br />
      On this site you will be able to Participate in tournaments and win dependent on how well you play.<br />
      <br />
    <br />
      If you are ready, lets continue</text>
<br/>
<br/>
@Html.ActionLink("My Teams", "Index", "MyTeam")